.u-mt {
  &__4px {
    margin-top: 4px;
  }
  &__5px {
    margin-top: 5px;
  }
  &__16px {
    margin-top: 16px;
  }
}

.u-mr {
  &__16px {
    margin-right: 16px;
  }
}

.u-mb {
  &__12px {
    margin-bottom: 12px;
  }

  &__16px {
    margin-bottom: 16px;
  }

  &__32px {
    margin-bottom: 32px;
  }

  &__96px {
    margin-bottom: 96px;
  }
}

.u-ml {
  &__16px {
    margin-left: 16px;
  }
  &__32px {
    margin-left: 32px;
  }
  &__96px {
    margin-left: 96px;
  }
}
