.u-pt {
  &__16px {
    padding-top: 16px;
  }
  &__96px {
    padding-top: 96px;
  }
}

.u-pb {
  &__5px {
    padding-bottom: 5px;
  }
  &__12px {
    padding-bottom: 12px;
  }
}

.u-ptb {
  &__12px {
    padding: 12px 0;
  }
}
