#p-conceptArea {
  width: 100%;

  &--content {
    position: relative;
    width: 70%;
    max-width: 1080px;
    margin: 0 auto;
  }

  &--tree {
    position: absolute;
    top: 78px;
    right: 0;

    z-index: 999;
  }

  &--forest {
    height: 256px;
  }
}
