@use "../../Foundation/variable" as *;

#p-infomationWrap {
  display: inline-block;
  width: 100%;

  background-color: $back-darkbrown;
}

#p-infomationArea {
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
}

@media only screen and (max-width: $pc-size) {
  #p-infomationWrap {
    padding: 0 24px;
  }
  #p-infomationArea {
    width: 100%;
  }
}
