@use "../../Foundation/variable" as *;

#p-menuArea {
  width: 100%;
  background-color: $back-brown;
  display: inline-block;

  &--wrap {
    // position: relative;
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
  }

  &--flower {
    margin: 0 0 0 auto;
    width: 200px;
    right: 0;
  }
}
