@use "../../Foundation/variable" as *;

#p-productArea {
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
}

@media only screen and (max-width: $t-size) {
  #p-productArea {
    width: 100%;
  }
}

@media only screen and (max-width: 1120px) {
  #p-productArea {
    display: none;
  }
}
