.baseFooter {
  background-color: black;

  margin-top: auto;

  border-top: 3px solid white;
  &__div {
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    p {
      padding: 16px 0;
      color: white;
    }
  }
}
