.c-googleMap {
  max-width: 1000px;
  height: 400px;

  border: 5px solid white;

  &--marker {
    width: 64px;
    margin: -96px 0 0 -32px;
  }
}

.gm-bundled-control {
  margin-bottom: 32px !important;
}
