@use "../../Foundation/variable" as *;

.c-productSlider {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .navigation-wrapper {
    width: 1000px;
    margin: 0 auto;
    position: relative;
  }
  .dots {
    display: flex;
    padding: 10px 0;
    justify-content: center;

    border-top: 5px white solid;

    .dot {
      border: none;
      width: 10px;
      height: 10px;
      background: #c5c5c5;
      border-radius: 50%;
      margin: 0 5px;
      padding: 5px;
      cursor: pointer;
      &:focus {
        outline: none;
      }
      &.active {
        background: #000;
      }
    }
  }

  &--arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 0 30px 32px;
    button {
      width: 48px;
      transition: 0.2s;
      &:hover {
        opacity: 0.5;
        transition: 0.2s;
      }
    }
  }
}
