@use "../../Foundation/variable" as *;

.c-topMainVisual {
  &__div {
    width: 100%;
    height: 100vh;
  }
}

@media only screen and (max-width: $t-size) {
  .c-topMainVisual {
    &__wrap {
      display: none;
    }
  }
}
